@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e3e7e9;
  color: #404040;
}
body * {
  font-size: 12px;
}
a,
button {
  text-decoration: none !important;
}
.bg-brand {
  background-color: #e3e7e9 !important;
}
.text-xs {
  font-size: 12px !important;
}
.text-sm {
  font-size: 14px !important;
}
.text-base {
  font-size: 16px !important;
}
.text-lg {
  font-size: 18px !important;
}
.text-xl {
  font-size: 20px !important;
}
.text-amber {
  color: #c67321 !important;
}
.text-blue {
  color: #2595b6 !important;
}
.bg-light-blue {
  background-color: #53749e !important;
}
.bg-medium-blue {
  background-color: #3c8dbc !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.badge {
  border-radius: 2px;
}
/* Side bar*/
.side-bar {
  z-index: 10;
}
.side-bar .side-bar-head {
  font-size: 18px;
}
.side-bar .side-bar-body {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 44px;
  z-index: 100;
  height: 95%;
  background-color: #3a3f51;
  display: none;
}
.side-bar .side-bar-body .search-script-finder input,
.side-bar .side-bar-body .search-script-finder .input-group-prepend span {
  background-color: #949db0;
}
.side-bar
  .side-bar-body
  .search-script-finder
  input::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

.side-bar .side-bar-body .search-script-finder input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.side-bar .side-bar-body .search-script-finder input::placeholder {
  color: #fff;
}
.side-bar .side-bar-body .scripts-list a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.side-bar .side-bar-body .scripts-list a:hover,
.side-bar .side-bar-body .scripts-list a.active {
  background-color: #4d6671;
}
.side-bar .side-bar-body .scripts-counts {
  top: -8px;
  right: 0;
  font-size: 10px;
  padding: 0 2px;
}
.side-bar .side-bar-body .filter-dropdown .dropdown-toggle::after {
  border: none;
}
/*End Side bar*/
/* Script View */
.script-view .script-view-icon i {
  font-size: 22px;
  margin-right: 12px;
}
/* End Script View */
.push-notification-card .rpn-notification-holder{
    margin-left: auto;
}
.push-notification-card .rpn-notification-holder.top-middle{
    right: 0;
    left: auto;
    transform: translateX(0%);
}
@media screen and (min-width: 992px) {
  .side-bar {
    min-height: 100vh;
    height: 100%;
  }
  .side-bar .side-bar-body {
    position: static;
    display: block !important;
  }
  .script-view .script-view-icon i {
    font-size: 24px;
  }
}
